body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}
